{% extends 'all_news/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        {% if articles %}
        <h2>Found {{ articles|length }} of searched term {{message}}</h2>
        {% else %}
        <h2> Found 0 articles for the search term {{message}}</h2>
        {% endif %}
    </div>
    
        {% if articles %}
        {% for item in articles %}
        <div class="row">
            <img src="{{item.article_image.url}}" class="img-responsive" alt="Image">
           
            <h1>{{item.title}}</h1>
            <h3>{{item.editor}} | {{item.pub_date}} </h3>
            <h5>{{item.tags}} </h5>
            <br>
            <p>{{item.post}} </p>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}